nav {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #606060;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  color: #606060;
  margin: auto 10px auto 0;
  text-align: left;
}

#app {
  box-sizing: border-box;
  padding-bottom: 2rem;
  height: calc(100vh - 6rem);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#displayPane.ready {
  display: flex;
}

#displayPane.ready canvas {
  display: block;
}

#displayPane.loading,
#displayPane.loading canvas {
  display: none;
}

#displayPane.loading .loader {
  display: inline-block;
}

.controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

wa-slider {
  padding-bottom: 20px;
}
wa-slider::part(indicator) {
  background-color: #7ea3e5;
}
wa-slider::part(thumb) {
  background-color: #7ea3e5;
  border: 1.5px solid #fff;
}

wa-switch::part(control) {
  background-color: #fff;
  border-color: #ccc;
}

wa-switch:state(checked)::part(control) {
  background-color: #7ea3e5;
}

wa-switch:state(checked)::part(thumb) {
  background-color: #fff;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

canvas {
  display: none;
}

.checks {
  display: flex;
  gap: 1.2em;
}

.colorPickers {
  display: flex;
}

.colorPickers > wa-color-picker {
  flex: 1 1 0;
}

.relaxTo {
  display: flex;
  margin: 0 0;
}

.relaxTo > wa-button-group {
  flex: 1 1 0;
}

.seedTo {
  display: flex;
  margin: 0;
}

.seedTo > wa-button-group {
  flex: 1 1 0;
}

.spacer {
  height: 5px;
}

.loader {
  align-self: center;
  width: 48px;
  height: 48px;
  border: 5px solid #cfcfcf;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  #app {
    flex-direction: column;
    height: auto;
    padding: 0 1rem;
  }

  .controls {
    align-self: center;
  }
}
